<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {{#if cms}}
    <link rel="stylesheet" href="/stylesheets/form.css">
  {{/if}}
  <title>{{ title }}</title>
</head>
<body>
  {{{ body }}}
  <!-- the videos you put are to be downloaded from the internet, mske sure when you submit, you are only submitting the folder and in FOL you put the actual videos -->

  {{#if mainpage}}
  <script src="javascript/main.js"></script>
  {{/if}} <!-- if not -->

  {{#if cms}}
  <script src="javascript/cmsHandler.js"></script>
  {{/if}}
</body>
</html>
