<h1>{{ message }}</h1>
<ul>
  <li><a href="/getCars" class="get-posts">get cars</a></li>
  <li><a href="/getOne/R58" class="ge-one">get one lol not functional yet</a></li>
</ul>

<button id="F55" class="delete">delete F55</button>
<button  id="F58" class="delete">delete F58</button>

<button id="F55" class="getButton">get XHER data</button>
<button id="F56" class="getButton">get XHER data</button>
<button id="F58" class="getButton">get XHER data</button>
