<h1>{{ message }}</h1>
<ul>
  <li><a href="/getCars" class="get-posts">get cars</a></li>
  <li><a href="/getOne/R58" class="get-one">get one lol not functional yet</a></li>
</ul>

<button id="F55" class="delete">delete row</button>
<button  id="F58" class="post">post data</button>

<button id="F55" class="getButtons">get XHR data</button>
<button id="F56" class="getButtons">get XHR data</button>
<button id="R58" class="getButtons">get XHR data</button>
